[submodule "workdir/unikraft"]
	path = workdir/unikraft
	url = https://github.com/unikraft/unikraft
[submodule "workdir/libs/lib-musl"]
	path = workdir/libs/lib-musl
	url = https://github.com/unikraft/lib-musl
